@model ProdutoModel

@{
    ViewBag.Title = "Comprar Produto";
    Layout = "~/Views/Tema/" + ViewBag.tema + "/Layout.cshtml";
}

<link href="~/css/produtoDetalhes.css" rel="stylesheet" />
<script src="~/js/produtoDetalhes.js"></script>

<div class="produto-detalhes">
    <div class="produto-card">
        <img src="~/img/@Model.Caminho_imagem" alt="@Model.Nome" class="produto-img" />
        <h3>@Model.Nome</h3>
        <p>@Model.Descricao</p>
        <p>Preço unitário: R$ @Model.Preco.ToString("F2")</p>
        <p>Categoria: @Model.Categoria</p>
        
<div class="quantidade">
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" value="1" min="1" max="@Model.Quantidade" />
</div>

<p>Total: R$ <span id="total">@Model.Preco.ToString("F2")</span></p>

<button id="adicionarCarrinho" class="btn btn-success"
        data-id="@Model.Id_produto"
        data-nome="@Model.Nome"
        data-preco="@Model.Preco">
    Adicionar ao Carrinho
</button>
    </div>
</div>
